main {
    overflow: hidden; /* Ez vágja le a kilógó dobozokat */
    width: 100%;
    display: flex; /* Egymás mellé teszi a két .boxok konténert */
}

.boxok {
    display: flex;
    margin: 20px 0; 
    gap: 20px;
    padding-right: 20px; 
    animation: gurulas 15s linear infinite;
}

@keyframes gurulas {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

main:hover .boxok {
    animation-play-state: paused;
}