body {
    background-color: #d2fafb;
    margin: 0;
}

.csik {
    background-color: #2c003e;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

main {
    overflow: hidden; 
    width: 100%;
    display: flex; 
    background-color: #d2fafb;
}

.boxok {
    display: flex;
    gap: 20px;
    padding: 20px 10px; 
    flex-shrink: 0; 
    animation: gurulas 40s linear infinite;
}

.box {
    background-color: #fe346e;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    flex-shrink: 0; 
}

@keyframes gurulas {
    0% {
        transform: translateX(0);
    }
    100% {
       
        transform: translateX(-100%);
    }
}